{%extends 'base.html'%}
{%block title%}Create Doctor Profile{%endblock%}

{%block content%}
{% block home_button %}{% endblock %}

    <h2>Create Doctor Profile</h2>
    <form action="/createdoc" method="POST">
        <label for="name">Full Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>

        <label for="specialization">Specialization:</label>
        <select id="specialization" name="specialization" required>
            <option value="">--Select Specialization--</option>
            {% for dept in departments %}
                <option value="{{ dept.name }}">{{ dept.name }}</option>
            {% endfor %}
        </select>
        <br><br>


        <label for="contact">Contact Number:</label>
        <input type="tel" id="contact" name="contact" required>
        <br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>

        

        <button type="submit">Create Profile</button>
    </form>
{%endblock%}