{%extends 'base.html'%}
{%block title%}Create Doctor Profile{%endblock%}

{%block content%}
{% block home_button %}{% endblock %}
    <div class="card register-card">
        <h2 class="reg-title">Create Doctor Profile</h2>
        <form action="/createdoc" method="POST" class="reg-form">
            <div class="input-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            

            <div class="input-group">
                <label for="specialization">Specialization</label>
                <select id="specialization" name="specialization" required>
                    <option value="">-- Select Specialization --</option>
                    {% for dept in departments %}
                        <option value="{{ dept.name }}">{{ dept.name }}</option>
                    {% endfor %}
                </select>
            </div>

            


            <div class="input-group">
                <label for="contact">Contact Number</label>
                <input type="tel" id="contact" name="contact" required>
            </div>

            

            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            

            

            <button type="submit" class="create-btn reg-btn">Create Profile</button>
        </form>
    </div>
{%endblock%}