{% extends 'base.html' %}
{% block title %}Doctor Profile{% endblock %}

{% block content %}
{% block home_button %}{% endblock %}

  <h1>{{doctor.name}} Profile</h1>
  <p>Name: {{ doctor.name }}</p>
  <p>Username: {{ doctor.username }}</p>
  <p>Email: {{ doctor.email }}</p>
  <p>Contact: {{ doctor.contact }}</p>
  <p>Specialization: {{ doctor.specialization }}</p>
  

  <h2>Upcoming Appointments</h2>
  <ul>
    {% for appointment in appointments %}
      <li>{{ appointment.date }} with {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</li>
    {% else %}
      <li>No upcoming appointments.</li>
    {% endfor %}
  </ul>

  <h2>Assigned Patients</h2>
  <ul>
    {% for patient in assigned_patients %}
      <li>{{ patient.first_name }} {{ patient.last_name }}</li>
    {% else %}
      <li>No assigned patients.</li>
    {% endfor %}
  </ul>
{% endblock %}