{% extends 'base.html' %}
{% block title %}Patient Profile{% endblock %}

{% block content %}
{% block home_button %}{% endblock %}

  <h1>Patient Profile</h1>
  <p>firstName: {{ patient.first_name }}</p>
  <p>lastName: {{ patient.last_name }}</p>
  <p>Username: {{ patient.username }}</p>
  <p>Email: {{ patient.email }}</p>
  <p>Contact: {{ patient.contact }}</p>
  <p>DOB: {{ patient.dob }}</p>
  <p>Gender: {{ patient.gender }}</p>
  <p>Address: {{ patient.address }}</p>

    <h2>Medical History</h2>
    {% if patient.medical_records %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-secondary text-center">
                <tr>
                    <th>Date</th>
                    <th>Diagnosis</th>
                    <th>Treatment</th>
                    <th>Prescription</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in patient.medical_records %}
                <tr>
                    <td class="text-center">{{ record.date.strftime('%d-%b-%Y') }}</td>
                    <td>{{ record.diagnosis or '-' }}</td>
                    <td>{{ record.treatment or '-' }}</td>
                    <td>{{ record.prescription or '-' }}</td>
                    <td>
                        <a href="{{ url_for('record_details', appointment_id=record.appointment_id) }}" class="btn btn-sm btn-success">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No medical records available for this patient.</p>
    {% endif %}
    <br>

  
{% endblock %}